*.Identifier
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.bsp/
.bundle/
.idea
.idea*
.jekyll-cache/
.yardoc
.yardoc/
/spec/reports/
Notepad++/
__MACOSX
out/
pkg/
project/
spec/status_persistence.txt
spec/first_status_persistence.txt
target/
tmp/
~*
Gemfile.lock
demo/_site/
demo/.jekyll-cache/
demo/.jekyll-metadata
exe/
